<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="max-width:600px;">
      <%= image_tag attachments['welcome-email-image.jpg'].url, style:'max-width:600px'%>
    </div>
  </body>
</html>