<div id="app">
  <section class="charts">
    <div class="container-fluid">
      <header>
        <h1 class="h3">All Leads</h1>
      </header>
      <div class="row">
        Search Term: <input v-model="searchTermFilter" list="names">
      </div>

      <div class="row">
        <div class="table-responsive leads-table">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th v-on:click="updateSortAttribute('created_at')">Created</th>
                <th v-on:click="updateSortAttribute('first_name')">First Name</th>
                <th v-on:click="updateSortAttribute('last_name')">Last Name</th>
                <th v-on:click="updateSortAttribute('email')">Email</th>
                <th v-on:click="updateSortAttribute('phone')">Phone</th>
                <th v-on:click="updateSortAttribute('appointment_date')">Appointment Date</th>
                <th v-on:click="updateSortAttribute('notes')">Call Converter Notes</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="lead in sortedLeads" v-if="isValidPerson(lead)">
                <tr v-bind:class="{pristine: lead.outreaches.length===0}">
                  <td v-on:click="toggleLeadData(lead)">{{ moment(lead.created_at).format('dddd MMM Do YYYY, h:mm a') }}</td>
                  <td v-on:click="toggleLeadData(lead)">{{ lead.first_name }} {{ lead.leadIdToShow }}</td>
                  <td v-on:click="toggleLeadData(lead)">{{ lead.last_name }}</td>
                  <td><a v-bind:href="'/leads/' + lead.id + '/edit'">{{ lead.email }}</a></td>
                  <td v-on:click="toggleLeadData(lead)">{{ lead.phone }}</td>
                  <td v-on:click="toggleLeadData(lead)">{{ moment(lead.appointment_date).format('dddd MMM Do YYYY, h:mm a') }}</td>
                  <td v-on:click="toggleLeadData(lead)">{{ lead.processed_within_minutes }}</td>
                </tr>
               <template v-if="leadIdToShow == lead.id">
                 <template v-for="event in lead.events"> 
                  <tr class="event-info">
                     <td colspan="2"><span class="event-data-label">Event: </span> {{ event.name }}</td>
                     <td colspan="3"><span class="event-data-label">Event Created On: </span> {{ event.created_at }}</td>
                     <td></td>
                     <td></td>
                  </tr>
                 </template>
               </template>
             </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
