<%= form_tag "/settings", {method: :patch, class: "form-horizontal text-form"} do %>
  <div class="form-group row">
    <%= label_tag :auto_text, "Auto-Text",{class: 'col-sm-2'} %>
    <div class="col-sm-10">
      <%= text_field_tag :auto_text, @setting.auto_text, {class: "form-control form-control-warning"} %>
    </div>
  </div>
  <%= submit_tag %>
<% end %>
