// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
}



.event-info {
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  width: 100%;

  p {
    margin-bottom: 0;
  }
}
