// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
}



.event-info {
  background-color: #fff !important;
  border-bottom: 1px solid #eaeaea;
  height: 35px;

  td {
    height: 35px;

    .event-data-label {
      font-weight: 900;
      font-size: 0.9em;
    }
  }

  p {
    margin-bottom: 0;
  }
}
